/* autoprefixer grid: autoplace */
@import '../theme';

.main {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.navbarVertical {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  @include var(width, navbar-width);
  @include var(background-color, navbar-bg-color);

  a {
    @include var(width, navbar-width);
    @include var(height, navbar-width);
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    font-size: 24px;
    color: white;
  }
}

.spinner {
  animation: spinning 1s linear 0s infinite;
}

.mainFrame {
  width: calc(100% - #{$navbar-width});
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: $navbar-width;
}
