import { useEffect, ChangeEvent, MouseEvent } from 'react';
import styles from './<%=name%>.module.scss'
import {} from '../../types';

const presenter = (props: {}) => {
  const {} = props;
  
  return (
    <section className={styles.<%=name%>}>
      <div className={styles.container}></div>
    </section>
  );
}

export default presenter;