import { useEffect, ChangeEvent, MouseEvent } from 'react';
import './<%=name%>.scss'
import {} from '../../types';

const presenter = (props: {}) => {
  const {} = props;
  
  return (
    <section className="<%=name%>">
      <div className="<%=name%>__container"></div>
    </section>
  );
}

export default presenter;