import { ChangeEvent, MouseEvent } from 'react';
import {} from '../../types';

const view = (props: {}) => {
  const {} = props;
  
  return (
    <div className="<%=name%>__"></div>
  );
}

export default view;