import { ChangeEvent, MouseEvent } from 'react';
import styles from './<%=name%>.module.scss'
import {} from '../../types';

const view = (props: {}) => {
  const {} = props;
  
  return (
    <div className={styles.view}></div>
  );
}

export default view;