import styles from './<%=name%>.module.scss'
import { TMProps<%=(name.charAt(0).toUpperCase() + name.slice(1))%> } from './<%=name%>Type';
//import {} from '../../controllers/types';

const View = (props: TMProps<%=(name.charAt(0).toUpperCase() + name.slice(1))%>) => {
  const {} = props;

  return (
    <div className={styles.view}></div>
  );
}

export default View;
